[Unit]
Description=Vlab startup task
ConditionFileIsExecutable=/opt/vlab/bin/.startup

[Service]
Type=oneshot
ExecStart=/opt/vlab/bin/.startup
RemainAfterExit=true
Restart=no

[Install]
WantedBy=multi-user.target
