name: Image Build CI

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      filename: build-${{ github.run_number }}
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
        docker build \
          --build-arg APT_SOURCE=http://azure.archive.ubuntu.com \
          -t labstrap .
    - name: Get base image
      run: |
        wget --progress=dot:giga \
          -O ~/input.tar.zst \
          http://download.proxmox.com/images/system/ubuntu-22.04-standard_22.04-1_amd64.tar.zst
    - name: Build it!
      run: |
        docker run --rm -i --name=labstrap --privileged \
          -v "$PWD":/srv:ro \
          -v $HOME/rootfs:/target \
          -v $HOME/input.tar.zst:/input.tar.zst:ro \
          labstrap
    - name: Pack it!
      run: |
        sudo tar caf ${{ env.filename }}.tar.zst -C $HOME/rootfs .
        sha256sum ${{ env.filename }}.tar.zst > ${{ env.filename }}-sha256.txt
    - name: Upload it!
      uses: softprops/action-gh-release@v1
      with:
        tag_name: auto-build
        files: |
          ${{ env.filename }}.tar.zst
          ${{ env.filename }}-sha256.txt
